@page {
  size: A4;
  margin: 15mm;
}

html {
  font-size: 10pt;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

em {
  color: #8b0000;
}

h2 {
  break-before: page;
}

h3.project {
  break-before: page;
}
